# Library, IDE and build locations
**/node_modules/
**/coverage/
**/dist/
.vscode/
.idea/
.eslintcache/

# App excluded files
client/src/app/client/**
client/src/app/specs/**
e2e/tests/common/assets/**
